node_modules/
.DS_Store
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Build outputs
dist/

# Environment variables
.env
.env.local

# Husky
.husky/_

# Editor
.vscode/
.idea/

# OS
Thumbs.db
*.swp

# Test artifacts
.server.pid
lms-api/test-results/
